* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  background-image: url(https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?t=st=1732023137~exp=1732026737~hmac=f21991c86c39c48cd52aff54ba0601374bd95e746f9b30a95d6344e5f468dccb&w=1060);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

button {
  font-family: "Inter", serif;
}