body {
  background-color: #f4f4f4;
  padding: 0px;
}

p {
  margin-bottom: 7.5px;
}

.space {
  margin-bottom: 25px;;
}

.calculator {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgb(rgb(209, 204, 204), rgb(0, 222, 0), rgb(139, 139, 225));
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100px;
  padding: 10px;
  margin: 2.5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}